<template>
  <footer>
    <div class="container">
      <div class="footer-wap">
        <img src="/logo/logo-white.png" />
        <ul class="clearfix">
          <li v-for="(cate, index) in $menus.getMenus()" :key="index">
            <a href="#">{{ cate.name }}</a>
          </li>
        </ul>
      </div>
      <div class="bottom-footer">
        <p>
          Testbank là website cung cấp đề thi trắc nghiệm tất cả các lĩnh vực,
          phép người dùng dễ dàng tạo đề thi trắc nghiệm đơn giản nhất, kinh
          doanh doanh trên chính đề thi mình tạo ra.
        </p>
      </div>
    </div>
    <div class="copyright">
      Giấy phép cung cấp dịch vụ mạng xã hội trực tuyến số 469/GP-BTTTT do Bộ
      Thông tin và Truyền thông cấp ngày 30/10/2019.
    </div>
  </footer>
</template>

<style lang="scss">
footer {
  background: #3d3d3d;
  padding: 50px 0 0;
  /* margin-top: 3%; */
  .footer-wap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    img {
      max-width: 100%;
    }
    ul.clearfix {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      /*display: list-item;*/
      text-align: -webkit-match-parent;
      a {
        color: #fff;
        font-size: 20px;
        padding: 0 15px;
      }

      a:visited,
      a:hover,
      a:link {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .bottom-footer {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    p {
      margin: 0 0 10px;
    }
  }
  .copyright {
    border-top: 1px solid #000;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding: 30px 0;
  }
}
</style>
<script>
export default {
  // data() {
  //   // return {
  //   //   menus: [
  //   //     { id: 1, name: 'Đề Thi Tuyển Dụng' },
  //   //     { id: 2, name: 'Đề Thi Tuyển Dụng' },
  //   //     { id: 3, name: 'Đề Thi Tuyển Dụng' },
  //   //     { id: 4, name: 'Đề Thi Tuyển Dụng' },
  //   //   ],
  //   // }
  // },
  mounted() {
    this.$log.info(this.$menus)
    // this.menus = this.$menu.getMenus()
  },
}
</script>
