<template>
  <b-row class="util">
    <div class="wrapper">
      <!--      <button-->
      <!--        type="button"-->
      <!--        class="btn-menu navbar-toggle navbar-left collapsed"-->
      <!--      >-->
      <!--        <span class="sr-only">Toggle navigation</span>-->
      <!--        <span class="icon-bar"></span>-->
      <!--        <span class="icon-bar"></span>-->
      <!--        <span class="icon-bar"></span>-->
      <!--      </button>-->
      <b-col xl="12" sm="2" align-self="start">
        <a v-if="flagBack" href="/" class="btn-back">
          <img alt="btn back" src="/icon/back.png" /> {{ backTitle }}
        </a>
      </b-col>
      <b-col xl="12" sm="7" align-self="center">
        <a href="#">
          <img class="img-logo" src="/logo/logo.png" alt="logo testbank" />
        </a>
      </b-col>
      <b-col
        v-if="$authInfo.checkAuth()"
        xl="12"
        sm="3"
        align-self="end"
        class="tool"
      >
        <ul class="list">
          <li v-if="flagCreateExam">
            <a class="create_threads"> Tạo đề </a>
          </li>
          <li>
            <el-dropdown
              trigger="hover"
              class="user-profile-dropdown cursor-pointer"
            >
              <div id="drop-menu-user" class="dropdown">
                <span class="user"> vũ.. <span class="caret"></span> </span>
                <span href="#" class="user">
                  <img
                    src="https://lh6.googleusercontent.com/-rLejke5sAZ8/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuck7x9v--dKcwK5vrGQ-qTyofUJLgw/photo.jpg"
                    class="img"
                  />
                </span>
              </div>
              <el-dropdown-menu
                slot="dropdown"
                class="user-profile-dropdown-menu"
              >
                <ul class="submenu">
                  <el-dropdown-item>
                    <li>
                      <a class="link-end" href="#">
                        {{ $t(`Welcome, name`) }}
                      </a>
                    </li>
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <li>
                      <a class="link-end" href="#">
                        {{ $t(`Bộ sưu tập đã tạo`) }}
                        <span class="badge">3</span>
                      </a>
                    </li>
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <li>
                      <a class="link-end" href="#">
                        {{ $t(`Đề thi đã tạo`) }}
                        <span class="badge">4</span>
                      </a>
                    </li>
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <li>
                      <a class="link-end" href="#">
                        {{ $t(`Thông tin cá nhân`) }}
                        <i class="fa fa-user"></i>
                      </a>
                    </li>
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <a
                      class="link-all-unerline-none link-black d-flex align-items-center cursor-pointer"
                      @click="logoutAction()"
                    >
                      Đăng xuất <i class="fa fa fa-sign-out"></i>
                    </a>
                  </el-dropdown-item>
                </ul>
              </el-dropdown-menu>
            </el-dropdown>
          </li>
          <li>
            <span class="notification">
              <a href="message/index"><img src="/icon/ic_notifi-red.png" /></a>
            </span>
          </li>
        </ul>
      </b-col>
      <b-col v-else xl="12" sm="3" align-self="end" class="tool">
        <ul class="list">
          <li>
            <a href="/login" class="user">
              <span> Đăng nhập</span> <img src="/icon/user.png" class="img" />
            </a>
          </li>
        </ul>
      </b-col>
    </div>
  </b-row>
</template>
<style lang="scss">
.util {
  text-align: center;
  padding: 40px 0;
  background: #fff;
  .wrapper {
    width: 1550px;
    margin: 0 auto;
    padding: 0 10px;
    a:visited,
    a:hover,
    a:link {
      text-decoration: none;
      cursor: pointer;
    }
    .btn-back {
      float: left;
      color: #b3b3b3 !important;
      font-size: 16px;
    }
    .tool {
      display: flex;
      float: right;
      .dropdown {
        position: relative;
        display: inline-block;
      }
      ul.list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li:first-child {
          margin-left: 0;
        }
        li {
          margin-left: 20px;
          .user {
            color: #4d4f5c;
            img.img {
              width: 38px;
              height: 38px;
              border-radius: 50%;
              margin-left: 10px;
              object-fit: cover;
            }
          }
        }
      }
      .user-profile-dropdown-menu {
        margin: 0 !important;
        padding: 0 32px !important;
        border-radius: 0 !important;
        box-shadow: 0 7px 10px 0 rgba(102, 102, 102, 0.2) !important;

        .el-dropdown-menu__item:not(.is-disabled):hover {
          background: unset !important;
        }

        li {
          border-bottom: 1px solid $primary;
          padding: 0;

          &:last-child {
            border-bottom: none;
            margin-bottom: 8px;
          }
        }

        a {
          color: #333;
          padding: 9px 47px 9px 0;
          display: inline-block;
          width: 100%;
        }

        i {
          font-size: 20px;
        }

        .popper__arrow {
          display: none !important;
        }
      }
    }
  }
}
</style>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    flagBack: Boolean,
    flagCreateExam: Boolean,
    backTitle: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      code: this.getLanguageCode(),
      length: 0,
    }
  },
  computed: {
    ...mapState({
      checkTemplateCV(state) {
        if (
          !this.isEmpty(state.user.data.resume_id) &&
          !this.isEmpty(state.user.data.template)
        ) {
          return true
        } else {
          return false
        }
      },
      userName(state) {
        return state.user.data.name
      },
      userAvatar(state) {
        if (!this.isEmpty(state.user.data.profile)) {
          return state.user.data.profile.avatar
        }
        return '/no-images.png'
      },
    }),
  },
  methods: {
    updateLength(length) {
      this.length = length
    },
    logoutAction() {
      this.$confirm(this.$t(`Do you want to logout?`), this.$t(`Confirm`), {
        confirmButtonText: this.$t(`OK`),
        cancelButtonText: this.$t(`Cancel`),
        type: 'warning',
      })
        .then(() => {
          this.removeAccessToken()
          this.$authInfo.logoutAction()
          window.location = this.getRoutePath('index')
        })
        .catch(() => {
          this.$log.debug('cancel logout')
        })
    },
  },
}
</script>
