<template>
  <div class="login-register">
    <div id="main">
      <div id="header">
        <!--          style="background: 'logo/logo.png' no-repeat center;"-->
        <a id="logo" href="/"></a>
      </div>
      <div id="contentMain" class="loginpage clearfix">
        <div class="content">
          <h1 style="font-size: 22px; margin-top: 10px">Tạo quà::::::::::::</h1>
          <div class="form-create">
            <el-form
              ref="ruleForm"
              :model="ruleForm"
              :rules="rules"
              @keydown.native.enter.prevent="submitForm('ruleForm')"
            >
              <p style="margin: 15px 0">
                <label class="title">Tên:</label>
                <el-form-item prop="title">
                  <el-input
                    v-model="ruleForm.title"
                    class="input-left"
                    :placeholder="$t(`Nhập tên`)"
                    autocomplete="off"
                  />
                </el-form-item>
              </p>
              <p style="margin: 15px 0">
                <label class="title">Tag:</label>
                <el-form-item prop="tag">
                  <el-input
                    v-model="ruleForm.tag"
                    class="input-left"
                    :placeholder="$t(`Nhập tag`)"
                    autocomplete="off"
                  />
                </el-form-item>
              </p>
              <p style="margin: 15px 0">
                <label class="title">Content:</label>
                <el-form-item prop="content">
                  <el-input
                    v-model="ruleForm.content"
                    class="input-left"
                    :placeholder="$t(`Nhập tag`)"
                    autocomplete="off"
                  />
                </el-form-item>
              </p>
              <p>
                <button
                  type="button"
                  class="btn btn-login meta"
                  @click="submitForm('ruleForm')"
                >
                  {{ $t('create') }}
                </button>
              </p>
            </el-form>
          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </div>
</template>
<style lang="scss">
#main {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  #header a {
    height: 80px;
    padding: 16px 0;
    display: block;
    /* margin-bottom: 15px; */
  }
  .content {
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    margin: 0 auto;
    position: relative;
    z-index: 682;
    max-width: 420px;
    padding: 16px;
    form {
      display: block;
      margin-top: 0em;
    }
    .form-login,
    .form-register {
      margin-bottom: 16px;
      border-top: 1px solid #eee;
      .form-group {
        margin-bottom: 15px;
      }
      .help-block {
        color: red !important;
      }
    }
    .actions {
      color: #525252;
      text-align: center;
      border-top: 1px solid #eee;
      padding: 16px 0;
    }
  }
}
</style>
<script>
import FrontendBase from '~/components/layouts/FrontendBase'
import validate from '~/helpers/custom-rules-validate'
import LoginSocial from '~/helpers/login-social'

export default {
  extends: FrontendBase,
  layout: 'default',
  middleware: 'guest',
  mixins: [validate, LoginSocial],
  data() {
    return {
      stringCommon: '',
      ruleForm: {
        title: '',
        tag: '',
        content: '',
      },
      rules: {
        title: [
          {
            required: true,
            whitespace: true,
            message: this.$t(`hãy nhập tên!`),
          },
        ],
        tag: [
          {
            required: true,
            whitespace: true,
            message: this.$t(`hãy nhập tag!`),
          },
        ],
        content: [
          {
            required: true,
            whitespace: true,
            message: this.$t(`hãy nhập content!`),
          },
        ],
      },
    }
  },
  mounted() {},
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.postCreate(formName)
        } else {
          this.focusError()
          this.$log.warn('Error validate')
          return false
        }
      })
    },
    async postCreate(formName) {
      this.startLoading()
      await this.$services.common.createPost(
        this.ruleForm,
        (response) => {
          this.$log.error(response)
          // window.location = redirect
        },
        (err) => {
          this.$log.error(err)
          this.showErrorMessage(err, formName)
        }
      )
      this.endLoading()
    },
  },
}
</script>
