<template>
  <div>
    <div class="my-4">
      <el-form ref="dialogForm" :model="searchParams" class="d-flex">
        <div class="search-form-hard-set-min d-flex align-items-end">
          <h3 class="driver-label">{{ $t('Text::') }}</h3>
        </div>
        <div class="search-form-hard-set">
          <el-form-item>
            <el-input v-model="searchParams.text" class="w-100" />
          </el-form-item>
        </div>
        <div class="search-form-hard-set-min text-right">
          <button
            class="btn btn-primary driver-btn"
            type="button"
            @click="handlingSearch()"
          >
            {{ $t('Search') }}
          </button>
        </div>
      </el-form>
    </div>
    <div v-if="!isEmpty(listItem) && totalPage > 1" class="d-flex-right">
      <SimplePagination
        v-model="page"
        :change-page="changePageData"
        :total-page="totalPage"
      />
    </div>
    <el-table
      v-if="!isEmpty(listItem)"
      :data="listItem"
      highlight-current-row
      style="width: 100%"
      border
      class="table-serenade my-table"
    >
      <el-table-column
        :resizable="false"
        :label="$t('ID')"
        class-name="text-right"
        prop="id"
      />
      <el-table-column :resizable="false" :label="$t('Title')" prop="title" />
      <el-table-column :resizable="false" :label="$t('Tag')">
        <template slot-scope="scope">
          <div>
            {{ scope.row.tag }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        :resizable="false"
        :label="$t('Content')"
        prop="content"
      />
      <el-table-column
        :resizable="false"
        :label="$t('Updated_at')"
        prop="updated_at"
      />
    </el-table>
  </div>
</template>
<script>
import FrontendBase from '~/components/layouts/FrontendBase'
import validate from '~/helpers/custom-rules-validate'
import LoginSocial from '~/helpers/login-social'
import SimplePagination from '~/components/pagination/SimplePagination'

export default {
  components: {
    SimplePagination,
  },
  extends: FrontendBase,
  layout: 'default',
  middleware: 'guest',
  mixins: [validate, LoginSocial],
  data() {
    return {
      listItem: [],
      totalPage: '',
      totalItem: '',
      status: '',
      page: 1,
      message: '',
      searchParams: {
        text: '',
      },
    }
  },
  created() {
    let queryParams = this.$route.query
    if (!this.isEmpty(queryParams.page)) {
      this.page = parseInt(queryParams.page)
    }
    this.listReward(this.page)
  },
  mounted() {},
  methods: {
    listReward: async function (page) {
      await this.$services.common.getListPost(
        { page: page, text: this.searchParams.text },
        (response) => {
          this.listItem = response.listItem
          this.totalPage = response.pagination.total_pages
          this.totalItem = response.pagination.total
          this.status = response.status
        },
        (err) => {
          this.$log.error(err)
          this.showErrorMessage(err)
        }
      )
    },
    changePageData(page) {
      this.listReward(page)
      this.page = page
      this.$router.push({
        name: 'index',
        query: { page: page },
      })
    },
    handlingSearch() {
      this.listReward(1)
    },
  },
}
</script>
