<template>
  <div class="login-register">
    <div id="main">
      <div id="header">
        <!--          style="background: 'logo/logo.png' no-repeat center;"-->
        <a id="logo" href="/"></a>
      </div>
      <div id="contentMain" class="loginpage clearfix">
        <div class="content">
          <h1 style="font-size: 22px; margin-top: 10px">ĐĂNG NHẬP TÀI KHOẢN</h1>
          <h1 style="font-size: 22px; margin-top: 10px">
            Test api:: {{ stringCommon }}
          </h1>
          <div class="row">
            <div class="col-md-6 col-xs-12" style="padding: 0 5px">
              <a class="btn facebook" href="#">
                <span class="fa fa-facebook"></span>
                Facebook
              </a>
            </div>
            <div class="col-md-6 col-xs-12" style="padding: 0 5px">
              <a
                class="btn google"
                href="<?= Url::to(['site/auth?authclient=google']) ?>"
              >
                <span class="fa fa-google"></span>
                Google
              </a>
            </div>
          </div>
          <div class="form-login">
            <el-form
              ref="ruleForm"
              :model="ruleForm"
              :rules="rules"
              @keydown.native.enter.prevent="submitForm('ruleForm')"
            >
              <p style="margin: 15px 0">
                <label class="title">Đăng nhập bằng email</label>
                <el-form-item prop="email">
                  <el-input
                    v-model="ruleForm.email"
                    class="input-left"
                    :placeholder="$t(`Nhập email`)"
                    type="email"
                    autocomplete="off"
                  />
                </el-form-item>
              </p>
              <p>
                <el-form-item prop="password">
                  <el-input
                    v-model="ruleForm.password"
                    class="input-left"
                    :placeholder="$t(`Nhập mật khẩu`)"
                    type="password"
                    autocomplete="off"
                  />
                </el-form-item>
              </p>
              <p>
                <button
                  type="button"
                  class="btn btn-login meta"
                  @click="submitForm('ruleForm')"
                >
                  {{ $t('Đăng nhập') }}
                </button>
              </p>
            </el-form>
          </div>
          <div class="actions">
            <p>
              Bạn chưa có tài khoản?
              <NLink to="/signup">Đăng ký</NLink>
            </p>
            <p>
              <a class="btn-forget" href="#">Quên mật khẩu?</a>
            </p>
          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </div>
</template>
<style lang="scss">
#main {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  #header a {
    height: 80px;
    padding: 16px 0;
    display: block;
    /* margin-bottom: 15px; */
  }
  .content {
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    margin: 0 auto;
    position: relative;
    z-index: 682;
    max-width: 420px;
    padding: 16px;
    form {
      display: block;
      margin-top: 0em;
    }
    .form-login,
    .form-register {
      margin-bottom: 16px;
      border-top: 1px solid #eee;
      .form-group {
        margin-bottom: 15px;
      }
      .help-block {
        color: red !important;
      }
    }
    .actions {
      color: #525252;
      text-align: center;
      border-top: 1px solid #eee;
      padding: 16px 0;
    }
  }
}
</style>
<script>
import FrontendBase from '~/components/layouts/FrontendBase'
import validate from '~/helpers/custom-rules-validate'
import LoginSocial from '~/helpers/login-social'

export default {
  extends: FrontendBase,
  layout: 'default',
  middleware: 'guest',
  mixins: [validate, LoginSocial],
  data() {
    return {
      stringCommon: '',
      ruleForm: {
        email: '',
        password: '',
        form: 'login',
      },
      rules: {
        email: this.validateEmailAddress(),
        password: [
          {
            required: true,
            whitespace: true,
            message: this.$t(`hãy nhập pass!`),
          },
        ],
      },
    }
  },
  mounted() {
    this.demoCommon()
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.postLogin(formName)
        } else {
          this.focusError()
          this.$log.warn('Error validate')
          return false
        }
      })
    },
    async postLogin(formName) {
      this.startLoading()
      await this.$services.common.login(
        this.ruleForm,
        (response) => {
          this.saveAccessToken(response.access_token, response.user_obj.role)
          this.$authInfo.loginAction(response.user_obj)
          // console.log(this.$authInfo)
          let redirect = this.getRoutePath('index')
          if (!this.isEmpty(this.$route.query.continue)) {
            redirect = this.$route.query.continue
          }
          window.location = redirect
        },
        (err) => {
          this.$log.error(err)
          this.showErrorMessage(err, formName)
        }
      )
      this.endLoading()
    },
    demoCommon: async function () {
      await this.$services.common.demoCommon((response) => {
        this.$log.info(response)
        this.stringCommon = response
      })
    },
  },
}
</script>
